name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y openjdk-17-jdk zip unzip git

      - name: Install Buildozer
        run: |
          pip install buildozer cython

      - name: Build debug APK
        run: |
          buildozer android debug

      - name: Upload built APK
        uses: actions/upload-artifact@v3
        with:
          name: kivymd-todo-apk
          path: bin/*.apk